/* CSS Reset */

/* Box sizing rules */
html {
  box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
  }
  
  /* Remove default margin */
  body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dd, dt, blockquote, figure, fieldset, form, legend, textarea, pre, iframe, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section, menu, figure, figcaption {
  margin: 0;
  padding: 0;
  }
  
  /* Remove default list styles */
  ul, ol {
  /* list-style: none; */
  }
  
  /* Remove default font */
  body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  }
  
  /* Remove default hyperlink styles */
  a {
  text-decoration: none;
  color: inherit;
  }
  
  /* Remove default button styles */
  button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  }
  
  /* Remove default button styling in Firefox */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
  border: 0;
  padding: 0;
  }
  
  /* Remove default border */
  img, embed, iframe, object, video {
  border: 0;
  }
  
  /* Remove default horizontal rule styles */
  hr {
  box-sizing: content-box;
  height: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Remove default overflow behavior */
  html, body {
  overflow: visible;
  background-color: #0B121F;
  }
  
  /* Additional resets if needed */